*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	background-color: gray;
}
.container{
	width: 80%;
	background-color: white;
	margin: auto;
	text-align: center;
}
ul {
	background-color: gray;

}
ul li{ background-color: white;
    float: left;
    list-style-type: none;
    margin-left: 70px;
}